@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Source+Serif+4:ital,opsz,wght@1,8..60,200..900&display=swap');

:root{
    --header-height: 3rem;

    --body-font:"Montserrat", sans-serif;
    --second-font:"Source Serif 4", serif;

    --white-color :#fff;
    --black-color : #000;
    --black-color-light: #596e75;

    --font-regular: 400;
    --font-medium:500;
    --font-semi:700;
    --font-bold: 900;

    --z-tooltip:10;
    --z-fixed: 100;

    --biggest-font-size: 6rem;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--white-color);
    color: var(--black-color);
}

input,
button{
    outline: none;
    border: none;
}

h1,h2,h3,h4{
    font-weight: var(--font-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    width: 100%;
    height: 100%;
}

.container{
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding-block: 5rem 1rem;
}

.section-title{
    font-size: var(--big-font-size);
    color: var(--black-color);
    text-align: center;
    margin-bottom: 2rem;
    line-height: 3rem;
}

.section-subtitle{
    font-size: var(--h2-font-size);
    color: var(--black-color-light);
    text-align: center;
    margin-bottom: 2rem;
    line-height: 2rem;
}

.main{
    overflow: hidden;
}

/* ==== HEADER ===== */
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: background-color .4s, box-shadow .4s;
}

.nav{
    display: flex;
    position: relative;
    height: var(--header-height);
    background-color: var(--white-color);
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    color: var(--black-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    font-weight: var(--font-semi);
    transition: color .4s;
}

.nav-toggle,
.nav-close{
    display: inline-flex;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--black-color);
    transition: color .4s;
}

@media screen and (max-width: 768px) {
    .nav-menu{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        position: fixed;
        left: 0;
        top: -100%;
        background-color: white;
        width: 100%;
        height: auto;
        padding-block: 5rem;
        transition: top .4s;
        border-radius: 0 0 1.5rem 1.5rem;
    }

    .nav-list{
        display: flex;
        flex-direction: column;
        text-align: center;
        row-gap: 2rem;
    }

    .nav-close{
        position: absolute;
        top: 1rem;
        right: 1.5rem;
    }
}

.nav-link{
    position: relative;
    color: var(--black-color);
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.nav-link::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -.5rem;
    background-color: var(--black-color);
    transition: width .4s;
}

.nav-link:hover::after{
    width: 60%;
}

.show-menu{
    top: 0;
}

/* ======== HOME ======== */
.home{
    height: 100vh;
    position: relative;
}

.home-image{
    width: 100%;
    height: 100%;
    background-attachment: scroll;
}

.home-image::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--black-color);
    opacity: .3;
}

.home-description{
    display: flex;
    flex-direction: column;
    z-index: var(--z-tooltip);
    row-gap: 1rem;
    justify-content: center;
    align-items: self-start;
    position: absolute;
    top: 35%;
    left: 22%;
    
}

.home-title{
    color: var(--white-color);
    font-weight: 200;
    letter-spacing: 5px;
}

.home-subtitle{
    color: #EDE0D4;
    font-weight: var(--font-regular);
    letter-spacing: 3px;
}

.line{
    position: relative;
    left: 35%;
    width: 75px;
    height: 75px;
    border-right: 1px solid var(--black-color-light);
}

/* ======== ABOUT ======== */
.about-description{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about-title{
    font-size: var(--h1-font-size);
    font-weight: 400;
    font-family: var(--second-font);
    text-align: center;
    margin-bottom: 2rem;
    color: var(--black-color-light);
}


/* ======== PORTFOLİO ======== */
.port-container{
    grid-template-columns: repeat(1, 400px);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.portfolio-item{
    position: relative;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.portfolio-item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    z-index: 4;
    transition: opacity .4s;
}

.port-info{
    position: absolute;
    top: 48%;
    left: 40%;
    z-index: 5;
    color: white;
    font-family: var(--second-font);
    font-size: 2rem;
    font-weight: var(--font-medium);
    opacity: 0;
    transition: opacity .4s;
}

.portfolio-item:hover::after{
    opacity: .3;
}

.portfolio-item:hover .port-info{
    opacity: 1;
}

/* ==========CONTACT========= */

.contact{
    max-width: 1120px;
    margin-inline: 4rem;
    text-align: center;
    margin-bottom: 1rem;
}

.contact-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.contact-input{
    padding: .5rem;
    border: 1px solid var(--black-color-light);
    border-radius: 1.5rem;
}

.contact-description{
    font-weight: 400;
    font-size: 1.5rem;
    font-family: var(--second-font);
    color: var(--black-color);
    margin-bottom: 1rem;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-title{
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--black-color);
}

.contact-input::placeholder{
    font-weight: var(--font-semi);
    font-style: italic;
}

.button{
    padding: .8rem 5rem;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 1.5rem;
    background: lightgrey;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-color .4s;
}

.button:hover{
    background-color: rgb(73, 72, 72);
    cursor: pointer;
}

.contact-info{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    margin-bottom: 1rem;
    font-size: var(--normal-font-size);
}

.contact-social{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
    font-size: 2rem;
}

.contact-link{
    color: var(--black-color-light);
    transition: .4s;
}

.contact-link:hover{
    transform: translateY(-.3rem);
}

/* ======= FOOTER ====== */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-color-light);
    color: var(--white-color);
    width: 100%;
    height: 8rem;
}

.active-link{
    color: var(--black-color-light);
}

.active-link::after{
    content: '';
    position: absolute;
    width: 30%;
    height: 2px;
    left: 0;
    bottom: -.5rem;
    background-color: var(--black-color-light);
    transition: width .4s;
}

.scroll-header{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

@media screen and (min-width: 340px) {
    .home-description{
        top: 40%;
        left: 4%;
        row-gap: 0;
    }

    .line{
        left:32%
    }

    .about-text{
        font-size: var(--normal-font-size);
    }
}

@media screen and (min-width:820px) {
    .header{
        height: calc(var(--header-height) + 1rem);
    }

    .nav-close,
    .nav-toggle{
        display: none;
    }

    .nav-container{
        padding: 2rem;
    }

    .nav-menu{
        width: 60%;
    }

    .nav-list{
        width: 100%;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .home-title{
        font-size: var(--biggest-font-size);
    }

    .line {
        left: 42%;
    }

    .port-container{
        grid-template-columns: repeat(2, 400px);
    }
}

@media screen and (min-width:1024px) {
    .about-description{
        margin-inline: 10rem;
    }
}